<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Mi Primera Página</title>
</head>
<body>
    <h1>Hola Alumnos </h1>
    <br>
    {% for alumno in alumnos %}
        {{alumno.run}},  {{alumno.nombre}}, {{alumno.apellido_paterno}},    
        {{alumno.apellido_materno}},  {{alumno.id_genero.genero}} <br>
    
    
    {%endfor%}    
</body>
</html>
